@charset "UTF-8";
body{
    background-color: rgb(116, 116, 212);
    font-family: 'Times New Roman';
    font-size: 20px;
}
h1{
    color: blueviolet;
    background-color: white;
}
h2{
    color: red;
}
p{
    text-align: justify;
}