@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body{
    background-image: linear-gradient(to right, #FEA443,#F3FEB0);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #812f33a6;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #FEA443;
    text-align: center;
    text-shadow: 1px 1px 2px #812f339d;
}
h2{
    color: #705E78;
}
p{
    text-align: justify;
}