@charset "UTF-9";

body{
    background-color: rgb(134, 235, 134);
    font-family: Arial, Helvetica, sans-serif;
}
h1#principal{
    text-align: center;
    background-color: green;
    color: white;
}
h1{
    color: green;
}
h2{
    color: rgb(0, 196, 0);
}
.basico{
    color: rgb(49, 194, 49);
    font-weight: bold;
}
.intermediario{
    color: yellow;
}
.avancado{
    color: red;
}
.destaque{
    background-color: rgba(233, 233, 59, 0.692);
}